<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Банкомат</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">Банкомат</a>
      </div>
    </nav>

  <div class="container">
<div class="row">
  <div class="col">
    <div class="mb-3">
      <label for="amountData" class="form-label">Сумма</label>
      <input type="number" class="form-control" id="amountData" aria-describedby="amountHelp">
      <div id="amountHelp" class="form-text">Введите сумму, которую хотите снять<br>
      Банкомат выдает только 5000, 2000, 1000, 500, 200, 100 купюры
      </div>
    </div>
    <button type="button" class="btn btn-success getMoney">Снять деньги</button>
  </div>

  <div class="row mt-3">
    <div class="col" id="val5000" style = "display:none">
      <img src="{{ url_for('static', filename='imgs/5000.png') }}">
      <p id="val5000_text">Column</p>
    </div>
    <div class="col" id="val2000" style = "display:none">
      <img src="{{ url_for('static', filename='imgs/2000.png') }}">
      <p id="val2000_text">Column</p>
    </div>
    <div class="col" id="val1000" style = "display:none">
      <img src="{{ url_for('static', filename='imgs/1000.png') }}">
      <p id="val1000_text">Column</p>
    </div>
    <div class="col" id="val500" style = "display:none">
      <img src="{{ url_for('static', filename='imgs/500.png') }}">
      <p id="val500_text">Column</p>
    </div>
    <div class="col" id="val200" style = "display:none">
      <img src="{{ url_for('static', filename='imgs/200.png') }}">
      <p id="val200_text">Column</p>
    </div>
    <div class="col" id="val100" style = "display:none">
      <img src="{{ url_for('static', filename='imgs/100.png') }}">
      <p id="val100_text">Column</p>
    </div>
    <div class="col" id="val_error" style = "display:none">
      <p>К сожалению, не можем выдать запрошенную сумму :(</p>
      <img src="{{ url_for('static', filename='imgs/sad.gif') }}" width="240" height="240">
    </div>
  </div>
</div>

</div>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/my.js') }}"></script>
</body>
</html>
